/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
  background: #eee;
}

#main, #header_center {
  margin: 0 auto;
  width: 1000px;
}
#main {
  background: #fff;
  padding: 0 10px;
}

#header {
  height: 50px;
  background-color: #eee;
  background: -moz-linear-gradient(top, #fff, #ebebeb);
  background: -webkit-linear-gradient(top, #fff, #ebebeb);
  background: -o-linear-gradient(top, #fff, #ebebeb);
  background: -ms-linear-gradient(top, #fff, #ebebeb);
  background: linear-gradient(top, #fff, #ebebeb);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}

#site {
  padding-top: 14px;
  float: left;
}

#logo {
  height: 50px;
  width: 129px;
  float: left;
  background-image: url('../images/racket.png');
  background-repeat: no-repeat;
  background-position: center;
}

#site a {
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #37c;
  text-decoration: none;
}

#nav {
  float: right;
  height: 50px;
}
#nav a {
  display: block;
  float: left;
  padding: 13px 7px 17px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-top: 4px solid #ccc;
  margin: 0;
  border-position: inside;
}
#nav a:hover, #nav .active {
  border-color: #37c;
  color: #000;
}

.page_hdln {
  padding: 10px 0 0;
  color: #444;
}
.page_hdln a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  font-weight: normal;
  margin: 0;
}

#team .team {
  width: 33%;
  float: left;
}
#team .table .own {
  background-color: #acf;
}
#team .table {
  width: 66%;
  float: right;
}
#team table td {
  padding: 5px;
}
#team table .diff {
  text-align: right;
}
.zebra tr:nth-child(2n+1) {
  background-color: #eee;
}
.zebra th {
  vertical-align: top;
  text-align: left;
}

#news .pre {
  float: left;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
#news .pre h3 a {
  color: inherit;
  text-decoration: none;
}
#news .pre .more {
  text-decoration: none;
}
#news .news {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: justify;
}
.news .article-data, .pre .article-data {
  color: #777;
  font-style: italic;
}

#front .content-left {
  float: left;
  width: 550px;
}
#front .content-right {
  float: right;
  width: 400px;
}
.team-results {
  font-size: 14px;
  background-color: #f0f0f0;
}
.team-results td, .team-results th {
  padding: 5px 3px;
}
.team-results .date {
  font-style: italic;
  color: #777;
}
.team-results .name a {
  color: #333;
  text-decoration: none;
}
.team-results .name {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 2px solid #777;
  padding-bottom: 3px;
  background-color: #fff;
}
#teams li {
  padding: 5px 0;
  list-style: none;
  margin: 0;
}
#teams li a, #teams li a:visited {
  color: #333;
  text-decoration: none;
}

tr:nth-child(2n+1).result.victory {
  background-color: #ded;
}
tr:nth-child(2n).result.victory {
  background-color: #efe;
}
tr:nth-child(2n+1).result.defeat {
  background-color: #edd;
}
tr:nth-child(2n).result.defeat {
  background-color: #fee;
}

#frontpage-slider {
  background: #37c;
  background: -moz-linear-gradient(top, #37c, #26b);
  background: -webkit-linear-gradient(top, #37c, #26b);
  background: -o-linear-gradient(top, #37c, #26b);
  background: -ms-linear-gradient(top, #37c, #26b);
  background: linear-gradient(top, #37c, #26b);
}
#slider, #frontpage-slider {
  height: 350px;
  border: 0;
}
#slider .panel {
  height: 350px;
  width: 1000px;
}
#frontpage-slider .anythingWindow { border: none; }
#slider .slide-image {
  float: left;
  width: 550px;
}
#slider .slide-text {
  float: left;
  width: 430px;
  padding: 40px 0;
  color: #fff;
  font: italic 30px Georgia, serif;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  letter-spacing: 2px;
}

#bday td {
  padding: 10px 0 0 10px;
}
.cake {
  margin: 5px 5px 0 0;
  height: 60px;
  float: right;
}

footer {
  padding-top: 20px;
  text-align: right;
}
footer a { margin: 0 10px; }
.impressum {
  color: #aaa;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
