@import "~bulma";

$primary: #0064c8;

html,
body {
    height: 100%;
    background: $background;
}

.main-content .title {
  margin: 15px 0 10px 0;
}

.navbar {
  z-index: 1;
  background: linear-gradient(to bottom, $white, $light);

  a.navbar-item.is-active {
    background-color: $background;
  }

  .navbar-brand {
    .navbar-item {
      color: $primary;
      font-weight: bold;
    }
  }
}

.main-content {
  padding: 10px;
}

.title, .title a {
  color: $dark;
}

.article {
  padding-bottom: 10px;
  border-bottom: 1px solid darken($light, 20%);

  &:last-child {
    border: 0px;
  }

  .title {
    margin: 10px 0 0;
  }

  .article-info {
    color: lighten($dark, 20%);
    font-style: italic;
    margin-bottom: 5px;
  }
}

.results.table {
  font-size: 10pt;

  th.name a {
    color: $dark;
  }

  .score {
    white-space: nowrap;
  }
}

.front-slider {
  background: $primary;
  overflow: hidden;

  .slider-item.fake-item {
    visibility: hidden;
    margin-bottom: 0;
  }

  .slider-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .slider {
    height: 100%;
    width: 100%;
  }

  .slider-item, .fake-item {
    height: 100%;
    width: 100%;
    display: flex;

    .slider-text {
      font-style: italic;
      font-family: Georgia, serif;
      text-align: center;
      color: $white;
    }

    .slider-image img {
      object-fit: cover;
    }

    .slider-text, .slider-image {
      flex-wrap: nowrap;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
  }
}

.main-content {
  background: $white;
}


// old css

footer {
  padding-top: 20px;
  text-align: right;
}
footer a { margin: 0 10px; }
.impressum {
  color: #aaa;
}
