paths:
    migrations: %%PHINX_CONFIG_DIR%%/db/migrations
    seeds: %%PHINX_CONFIG_DIR%%/db/seeds

environments:
    default_migration_table: phinxlog
    default_database: development

    production:
        adapter: mysql
        host: {{ MYSQL_HOST }}
        name: {{ MYSQL_DB_NAME }}
        user: {{ MYSQL_USER }}
        pass: '{{ MYSQL_PASS }}'
        port: 3306
        charset: utf8

    development:
        adapter: mysql
        host: db
        name: wordpress
        user: root
        pass: 'wordpress'
        port: 3306
        charset: utf8

version_order: creation
